.app-container {
  /* margin : 50px auto; */
  /* max-width:900px; */
  width: 100%;
  padding: 20px;
  border-radius:10px;
  border: 2px solid rgb(112, 112, 112);
  margin-left: 100px;
}

form{
  display: flex;
  flex-direction:column;
  justify-content: center;
  gap:10px;
  margin-bottom: 30px;
}
form label{
  font-weight: bold;
}
input, select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  min-width: 150px;
}

button{
  padding: 8px;
  border: none;  
  border-radius: 5px;
  cursor: pointer;
  margin: 8px;
}

.transaction-action{
  display:flex;
  gap: 5px;
}


ul >div {
  border-radius: 8px;
  border : 1px solid #ddd;
  margin: 20px;
  padding : 10px;
}

button.delete{
  background: #ff4d4d;
  color: white;
}
button.edit{
  background: #4da6ff;
  color: white;
}

button.delete:hover {
  background: #740000;
}

button.edit:hover {
  background: rgb(0, 0, 166);
}

.expense{
  color: rgb(225, 109, 109);
  font-weight: bold;
  margin: 10px;
}
.income{
  color: green;
  font-weight: bold;
  margin: 10px;
}
ul{
  padding: 0;
  list-style: none;
  margin: 0;
  width:100%;
}

ul > div {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr auto;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}